@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: rgb(188, 224, 246);

    font-family: 'Roboto', sans-serif;
}

.nav-link {
    font-size: 2rem;
    color: white;
    border-bottom: 3px solid white;
    transition: 0.5s;
}

.nav-link:hover {
    color: black;
    border-bottom: 3px solid black;
}

main {
    padding-top: 2rem;
    margin: 0 30%;
}
